*{ border: 1px solid red; }
body {
	font-family: 'Open Sans';
	font-weight: bold;
}
h1{
	font-size:24px;
	padding-left:25px;
	
}
.landing{
	width: 100%;
	height: 100vh;
	background-color: #1C190F;
}
.landing a:hover{
		border-bottom: 2px solid currentColor;
}
.landinglinks{
	width: 100%;
	top:600px;
	text-align:center;
	position:fixed;
	
}
.landinglinks a{
	float: center;
	margin-right: 45px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 14pt;
	margin: 0px 10% 0px 10%;
	
}

.mainbar {
	width: 100%;
	height:75px;
	background-color: yellow;
}
.content{
	width:100%;	
	padding-left: 50px;
	padding-right:50px;
	padding-top:20px;
}
.leftbox1{
	width: 390px;
	text-align:left;
	word-break:break-all;
	
}
.leftbox2{
	width: 390px;
	text-align:left;
	word-break:break-all;
	
}