@charset "UTF-8";
/* CSS Document */

/* outline all borders - add or remove(*) */
/*{border: 1px solid red}*/
*{box-sizing: border-box;}


/* For Mobile */
[class*="col-"] {
    width: 100%;
    float: left;
   	/*border: 1px solid red;*/
	padding: 10px 20px;
	position: relative;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


/* Top for all Sub-Pages */
.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
}
.navbar a {
	text-decoration: none;
	color: #1C190F;
}
.home a {
	text-decoration: none;
	color: white;
}
.home-rectangle {
	width: 20%;
	height: 40px;
	background-color: #1C190F;
	float: left;
	color:white;
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
	font-size: 9pt;
	line-height: 40px;
	text-align: center;
}
.nav-rectangle-1 {
	width: 20%;
	height: 40px;
	background-color: #0b55a6;
	float: left;
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
	font-size: 9pt;
	line-height: 40px;
	text-align: center;
}
.nav-rectangle-2 {
	width: 20%;
	height: 40px;
	background-color: #53a4f5;
	float: left;
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
	font-size: 9pt;
	line-height: 40px;
	text-align: center;
}
.nav-rectangle-3 {
	width: 20%;
	height: 40px;
	background-color: #0f3194;
	float: left;
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
	font-size: 9pt;
	line-height: 40px;
	text-align: center;
}
.nav-rectangle-4 {
	width: 20%;
	height: 40px;
	background-color: #1d50dd;
	float: left;
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
	font-size: 9pt;
	line-height: 40px;
	text-align: center;
}
.menu-thing{
	width:100%;
	height:5px;
	background-color: #1C190F;
	float: left;
	box-shadow: 0px 1px 1px black; 
	border-radius: 0px 0px 3px 3px;
}
.background-img{
	width: 100%;
    float: left;
	position: fixed;
	z-index: 1;
	top:0;
}
.header {
	font-size: 14vw;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #1C190F;
	position: fixed;
	top: 15%;
	left: 4%;
	padding: 0% 0% 0% 0%;
	z-index: 2;
}

/* Content for all Sub-Pages */
.content {
	width: 100%;
	height: auto;
	z-index: 3;
	position: relative;
	background-color: white;
	box-shadow: 0px -1px 2px black;
	margin-top: 45%;
	padding-bottom: 150px;
}
.subtitle-1 {
	font-family:'Open Sans', Sans-serif;
	font-size: 22pt; 
	font-weight: bold;
	color: #0b55a6;
	padding: 20px 4% 10px 4%;
	text-align: center;
}
.subtitle-2 {
	font-family:'Open Sans', Sans-serif;
	font-size: 22pt;
	font-weight: 500;
	color: #0b55a6;
	padding: 50px 0px 25px 0px;
}
.p1 {

	font-family: 'Open Sans', Sans-serif;
	font-size: 10pt;
	color: #1C190F;
	padding: 20px 0px;
	text-align: center;
	
}
.p2 {

	font-family: 'Open Sans', Sans-serif;
	font-size: 10pt;
	color: #1C190F;
	
}
.p3 {

	font-family: 'Open Sans', Sans-serif;
	font-size: 10pt;
	color: #1C190F;
	
}
img {
	width: 100%;
	height: auto;
}
.space-1 {
	width: 100%;
	height: 0px;
}
.space-2 {
	width: 100%;
	height: 0px;
}
.space-3 {
	width: 100%;
	height: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
	background-color: #1C190F;
	height: 100%;
	border-radius: 5px;
	
} 
li {
	color: white;
	font-family: 'Open Sans', sans-serif;
	display: block;
	font-size: 12pt;
}
li a {
    display: block;
	text-decoration: none;
	padding: 3% 10%;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
li a:hover:not(.active) {
    background-color: #53a4f5;
    color: #1C190F;
	border-radius: 5px 5px 0px 0px;
}
li a.active {
    background-color: #0b55a6;
    color: white;
	border-radius: 0px 0px 5px 5px;
}

/* Bottom for all pages */
.footer {
	width: 100%;
	z-index: 97;
	position: absolute;
}
.footer-top {
	height: 10px;
	width: 100%;
	background-color: #292416;

}
.footer-bottom {
	background-color: #1C190F;
	text-align: center;
	width: 100%;
	height: 150px;
	padding-top: 50px;
}
.footer-info a {
	color: white; 
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 9pt;
	text-decoration: none;
	
	
}
.footer-info a:hover {
	text-decoration: underline;
}

/* Scroll to Top Button */
#myBtn {
	display: none;
  	position: fixed;
  	bottom: 10%;
  	right: 15%;
  	z-index: 99;
  	border: none;
  	outline: none;
  	background-color: #1d50dd;
  	color: white;
  	cursor: pointer;
  	padding: 15px 30px 15px 30px;
  	border-radius: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	
}
#myBtn:hover {
	background-color: #0f3194;
}



/* For Desktop */
@media only screen and (min-width: 768px) {

/* Columns for Sub-Pages */	
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%
}
.col-5 {
    width: 41.66%
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
	.row::after {
    content: "";
    clear: both;
    display: table;
}
/* Content for Sub-Pages */
.content {
	padding: 0px 10%;
	}

/* Other Nav Bar  */
.home-bar {
	display: block;
	width: 100%;
	background-color: #1C190F;
	z-index: 99;
	top: 0;
	position: fixed;
	height: 7%;
	text-align: center;
	padding: 20px 0px 10px 0px;
	}
	.home-bar a {
		text-decoration: none;
		color: white;
		font-family: 'Open Sans', sans-serif;
		
	}
.navbar {
	visibility: hidden;
	}	
.menu {
	width: 100%;
	position: fixed;
	top: 50px;
	z-index: 2;
	padding: 0px 10%;
	text-align: center;
	margin-top: 2%;
	}
.menu a {
	visibility: visible;
    padding: 2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #1C190F;
    text-decoration: none;
	font-size: 16pt;
	
}
.menu a:hover {
	border-bottom: solid 3px #1C190F;
	}
	
.home-bar {
	display: block;
	width: 100%;
	background-color: #1C190F;
	z-index: 99;
	top: 0;
	position: fixed;
	height: 7%;
	text-align: center;
	padding: 20px 0px 10px 0px;
	}
/* Sub-Menu for Deskstop */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
	background-color: #1C190F;
	height: 400px;
	border-radius: 5px;	
}
	li a.active {
		border-radius: 0px 0px 0px 0px;
	}
	.p2 {

	font-family: 'Open Sans', Sans-serif;
	font-size: 10pt;
	color: #1C190F;
	padding: 10px 0px 10px 0px;
	}
.space-1 {
	width: 100%;
	height: 100px;
}
.space-2 {
	width: 100%;
	height: 56px;
}
	.space-3 {
	width: 100%;
	height: 110px;
}
}